.button-hover {
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 50%
}
.button-hover:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
.button-hover:active {
    background-color: rgba(255, 255, 255, 0.3);
}
.image-hover {
    cursor: pointer;
    transition-duration: 0.9s;
}
.image-hover:hover {
    filter: brightness(50%);
}
.image-hover:active {
    filter: brightness(50%);
}
.image-play > img {
    display: flex;
    justify-content: center;
    align-items: center;
    filter: brightness(50%);
}
