.button-hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 50%
}
.button-hover:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
.image-hover {
    cursor: pointer;
    transition-duration: 0.4s;
}
.image-hover:hover {
    opacity: 0.3;
}
.image-play {
    display: flex;
    justify-content: center;
    align-items: center;
    filter: brightness(50%) ;
}
.poll-play {
    fill: white !important;
}
.poll-hidden {
    fill: transparent !important;
}